@charset "utf-8";
/* CSS Document */

body
{
	background-color: odlace;
}

h1
{
	color: crimson;
}

p
{
	text-align: center;
	text-decoration: underline;
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
	font-size: 18pt;
}